.mainProfileSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    .editBtn {
        align-self: flex-start;
        border-radius: 50%;
        color: #2096F3;
        transition: .2s all ease-in-out;
        border: 1px solid #e9e9e9;
        width: 42px;
        height: 42px;
        padding: 5px;
        &:hover {
            background-color: #2096F3;
            color: #fff;
            cursor: pointer;
        }
    }

    .userInfoList {
        width: 100%;

        .listItemPrimary {
            text-align: right;
        }
    }

    .avatar {
        width: 64px;
        height: 64px;
        background-color: #2096F3;
    }
}

.rightSection {
    padding: 0 10px;

    .cardSection {
        padding-bottom: 16px;
        .plusOne{
            width: 32px;
            height: 32px;
            margin-left: 8px;
            border-radius: 50%;
            color: #2096F3;
            border: 1px solid #e9e9e9;
            padding: 3px;
            transition: .2s all ease-in-out;
            &:hover{
                background-color: #2096F3;
                cursor: pointer;
                color: #fff;
            }
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .profileCard {
                margin-right: 16px;
                margin-top: 16px;

                .skillItem {
                    padding: 8px;
                    background: #2096F3;
                    transition: .2s all ease-in-out;

                    &:hover {
                        background-color: #d81d5b;
                    }
                }
            }
        }
    }

    .itemTitle {
        padding-top: 16px;
        display: flex;
        align-items: center;

    }
}
